* {
  box-sizing: border-box;
}

.App {
  font-family: "Roboto Slab", serif;
  font-size: 15px;
  font-weight: 500;
}

.Header {
  background-color: #026aa7;
  height: 8vh;
}

.Header img {
  height: 3vh;
  padding-left: 20px;
}

.yourBoards {
  margin-left: 11vw;
}

.BoardContainer {
  padding-left: 10vw;
  padding-right: 10vw;
}

.NewBoard {
  height: 8rem;
  width: 12rem;
  margin: 1rem;
  font-size: 0.9rem;
  background-color: lightgray;
  padding: 10px;
  border-radius: 0.25rem;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.NewBoard:hover {
  background-color: silver;
}

.Boards {
  width: 12rem;
  height: 8rem;
  margin: 1rem;
  font-size: 1rem;
  /* background-image: linear-gradient(to top, lightgray, lightblue); */
  border-radius: 10px;
  background-color: #026aa7;
  padding: 10px;
  border-radius: 0.25rem;
  color: white;
}

.Boards:hover {
  background-color: #4891bb;
}

.ListContainer {
  display: flex;
  overflow-x: scroll;
  height: 90vh;
  overflow: auto;
}

.Lists {
  margin-top: 2rem;
}

.List {
  width: 15rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  background-color: lightgrey;
}

.List button {
  float: right;
  border: none;
  background-color: inherit;
}

.NewList {
  width: 15rem;
  font-size: 1rem;
  margin-top: 2.5rem;
  background-color: lightgray;
}

.addNewList {
  font-size: 1rem;
  font-weight: bold;
  background-color: hsl(0, 0%, 0%, 0.16);
  cursor: pointer;
}

.newForm {
  margin-top: 2.5rem;
  background-color: lightgray;
}

.newListBtn {
  font-size: 0.8rem;
  background-color: #026aa7;
}

.close {
  float: right;
  font-size: 0.8rem;
}

.addCardBtn {
  border: none;
  background-color: lightgray;
  text-align: left;
  margin-top: 10px;
}

.Card {
  background-color: whitesmoke;
  cursor: pointer;
}

.Card:hover {
  background-color: silver;
}

.CardLabel:empty {
  display: none;
  margin: 0;
}

.CardLabel {
  overflow: auto;
  position: relative;
  word-break: break-word;
}

.CardTitle {
  word-wrap: break-word;
  clear: both;
  display: block;
  margin: 0 0 4px;
  overflow: hidden;
  text-decoration: none;
  font-weight: 300;
  width: 175px;
}

.AddCard {
  background-color: #026aa7;
}

.ModalTitle {
  font-size: 1.25rem;
  font-weight: 600;
  padding-bottom: 0px;
  margin-left: 10px;
  margin-bottom: 0px;
}

.ModalSubTitle {
  font-size: 1rem;
  margin: 0px;
  padding-top: 0px;
  padding-left: 10px;
}

.modalForm {
  background-color: #026aa1;
}
.newCheckList {
  border-radius: 5px;
  /* background-image: linear-gradient(to top, lightblue, lightgray); */
}

.CheckList button {
  border: none;
  font-weight: bolder;
  background-color: transparent;
}

.CheckList {
  border: none;
  font-weight: bolder;
  background-color: transparent;
}
.CheckLists {
  background-color: lightgray;
}

.CheckItems {
  margin-top: 1rem;
  border-radius: 5px;
  background-color: white;
}

.CheckItem button {
  background-color: transparent;
}

.itemBtn {
  width: 8rem;
  background-color: #026aa7;
}
